@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

* {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1 auto;
}

.main .title {
  text-align: center;
  margin-top: 20px;
}

/* .main .description {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
} */

.main__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.box .option_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.box .option_block select {
  padding: 7px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.box .enter_block {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.box .enter_block input {
  padding: 7px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

.box .button_block {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.box .button_block button {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  padding: 10px 60px;
  border-radius: 20px;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.box .button_block button:hover {
  background-color: #ff2622;
  color: #fff;
}

.box .button_block button:nth-child(1) {
  background-color: #ff2622;
  color: #fff;
}

.box .button_block button:nth-child(1):hover {
  background-color: whitesmoke;
  color: #000;
}

.box textarea {
  resize: none;
  border: 1px solid;
  padding: 8px;
  height: 220px;
  border-radius: 20px;
  border: 1px solid #000;
  width: clamp(80%, 30vw, 100%);
  margin: 0 auto;
}

.footer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.footer p {
  text-align: center;
  font-size: clamp(10px, 4vw, 16px);
}

@media screen and (width < 1150px) {
  .container {
    max-width: 750px;
  }
}

@media screen and (width < 800px) {
  .container {
    max-width: 400px;
  }
}

@media screen and (width <= 420px) {
  .box .option_block {
    width: 100%;
    align-items: center;
  }
  .box .option_block select {
    width: max-content;
  }

  .box .button_block button {
    padding: 10px 20px;
  }
}